ip: 192.168.10.11
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: ~/Sites/api.bookatest
        to: /home/vagrant/api.bookatest
sites:
    -
        map: api.bookatest.test
        to: /home/vagrant/api.bookatest/public
databases:
    - book_a_test_dev
    - book_a_test_testing
name: api-bookatest
hostname: api-bookatest
