// @import "~swagger-ui/dist/swagger-ui.css";
@import "~swagger-ui-themes/themes/3.x/theme-material.css";

.opblock-section-header {
  justify-content: space-between;
}

.opblock-summary-description {
  margin-left: 1rem;
  text-decoration: underline;
}
