// 3.0 Colours
// 3.1 Base Colours
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$mineShaft: rgba(47,47,47,1);
$blueViolet: rgba(70,73,176,1);
$grandis: rgba(253,208,124,1);
$apricot: rgba(234,148,95,1);
$cornflowerBlue: rgba(85,147,240,1);
$wildSand: rgba(246,246,246,1);
$zumthor: rgba(238,245,255,1);
$dustyGray: rgba(151,151,151,1);
$alto: rgba(216,216,216,1);
// 3.2 Opacity Variations
$black10: rgba(0,0,0,0.1);
$mineShaft10: rgba(47,47,47,0.1);
$blueViolet10: rgba(70,73,176,0.1);
$apricot10: rgba(234,148,95,0.1);
$cornflowerBlue10: rgba(85,147,240,0.1);
$dustyGray18: rgba(151,151,151,0.18);
$mineShaft20: rgba(47,47,47,0.2);
$blueViolet20: rgba(70,73,176,0.2);
$black25: rgba(0,0,0,0.25);
$mineShaft40: rgba(47,47,47,0.4);
$mineShaft50: rgba(47,47,47,0.5);
$apricot50: rgba(234,148,95,0.5);
$cornflowerBlue40: rgba(85,147,240,0.4);
$blueViolet30: rgba(70,73,176,0.3);
$blueViolet40: rgba(70,73,176,0.4);
$blueViolet50: rgba(70,73,176,0.5);
$cornflowerBlue50: rgba(85,147,240,0.5);
$cornflowerBlue80: rgba(85,147,240,0.8);
$mineShaft75: rgba(47,47,47,0.75);
